chrome_profile/
selenium/
venv/
0*
save/
*.json
*.html

!/flask-для-сервера-отчёты-по-цепям/**/*.html
!/генератор-отчёта-по-цепям-ручной/template_chain_report.html
!Парсер_элемента_div_в_общем_списке_журналов.html